.conBox {
  margin: 10px auto;
  background-color: rgb(254, 246, 225);
  float: left;
  overflow: hidden;
  transform: translate(50%, 0);
}
.conBox div {
  width: 220px;
  max-height: 500px;
  clear: both;
  padding: 10px;
  overflow-y: scroll;
  display: flex;
  align-items: center;
  flex-direction: column;
}
